*{margin: 0;
padding: 0;
box-sizing: border-box;}


header{
position: sticky;
top: 0;
z-index: 1;


}
.nav{display: flex;
align-items: center;


justify-content:space-between;
}


.logo{background-image: url("../assects/images/Screenshot_20241117-033906-removebg-preview.png");
height: 100px; width:100px;
background-size: cover;
margin-left: 10px;

}

/* aimation style for logo */

/* .bounce-in-bck {
	-webkit-animation: bounce-in-bck 1.1s both;
	        animation: bounce-in-bck 1.1s both;
} */

.anchar{font-size: 1rem;
}

a{display: inline;
text-decoration: none;
color: white;
padding: 0 10px;
font-weight: bold;
}

a:hover{border: 2px solid white;
color: blue;
border-radius: 5px;
}

.bu{
    /* padding-right: 10px; */
    margin-right: 10px;
  
}

.button2{background-color: yellow;
border-radius: 7px;
padding: 4px 4px;
margin: 0 5px;
/* font-weight: bold; */
}

.button2:hover{background-color: black;
color: white;}

.button1{ background-color: white;
    border-radius: 7px;
padding: 4px 4px;
margin: 0 5px;

}

.button1:hover{background-color: yellow;
color: red;}

.panel-image{
   
display: block;
object-fit: cover;
position: relative;
top: -100px;
}

.Search{  background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -650px;
  
}

input,text{ font-weight: bold;
    padding-left: 8px;
}


input{height: 40px; width:400px;
border-radius: 10px;}

.button3{height: 40px;width:40px;
background-color: white;
border-radius:10px ; margin-left: 2px;
}

.button3:hover{background-color:yellow;
color: black; border: 3px solid black;}

.searchicon{font-size:large;
display: flex;
align-items: center;
justify-content: center;}

.firstwriting{display: flex;
align-items: center;
justify-content: center;
position: relative;
top:-750px;
color: white;
/* font-size:large;
font-weight: bolder; */

padding-right: 30px;

}